/* Rainbow styling */
.rainbow {
    position: absolute; /* Position relative to the main-screen-container */
    top: 50%; /* Vertically center within the container */
    left: 50%; /* Horizontally center within the container */
    transform: translate(-50%, -50%) translate(-80px, -180px) scaleX(-1)  rotate(-10deg); /* Adjust to desired position */
    width: 250px;
    height: auto; /* Maintain aspect ratio */
    z-index: -5; /* Default z-index for clouds */
    pointer-events: none; /* Make it non-interactive */
    user-select: none; /* Makes image not selectable*/
  }
  
  /* Cloud styling */
  .cloud {
    position: absolute; /* Position relative to the main-screen-container */
    top: 50%; /* Vertically center within the container */
    left: 50%; /* Horizontally center within the container */
    transform: translate(-50%, -50%); /* Adjust based on the container's center */
    height: auto; /* Maintain aspect ratio */
    z-index: 1; /* Default z-index for clouds */
    pointer-events: none; /* Make it non-interactive */
    user-select: none; /* Makes image not selectable*/
  }
  
  /* Individual cloud positions with offsets */
  .cloud1 {
    width: 450px;
    transform: translate(-50%, -50%) translate(10px, -250px); /* Offset from the container's center */
    z-index: 10;
  }
  
  .cloud2 {
    width: 220px;
    transform: translate(-50%, -50%) translate(250px, -270px); /* Offset from the container's center */
  }
  
  .cloud3 {
    width: 200px;
    z-index: -2; /* Place this behind the container */
    transform: translate(-50%, -50%) translate(-260px, -220px); /* Offset from the container's center */
  }

/* Container to center the forms */
.content-container {
    width: 100%;
    transform: scale(0.9); /* Scales links. 1.0 means no change */
    transform-origin: center; /* Ensure scaling is centered */
    position: relative; /* Ensures child elements are positioned relative to it */
    z-index: 0; /* Ensure the background stays behind */
    align-items: center;
    align-content: center;
    height: 100%;
}


/* Container for account type boxes */
.home-page-boxes-container {
    display: flex;
    justify-content: center; /* Spread input pairs horizontally */
    align-items: center; /* Vertically align items */
    column-gap: 55px; /* Space between boxes */
    position:relative;
    top: 120px; /* Moves boxes down */
}


/* Shared styles for boxes */
.home-page-box {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    width: 360px;
    height: 350px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--main-shading-with-drop-shadow);
    text-align: center;
    z-index: 0;
}

/* Shared pseudo-element styles for background images */
.home-page-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0.85; /* Default opacity */
}


/* Specific styles for journal box */
.home-page-journal-box {
    background: rgb(34, 140, 222);
}

/* Specific styles for strategy box */
.home-page-strategy-box {
    background: var(--main-yellow-subdued);
}

/* Journal-specific background */
.home-page-journal-box::before {
    background-image: url('../images/journalBg.svg');
}

/* Strategy-specific background */
.home-page-strategy-box::before {
    background-image: url('../images/strategyBg.svg');
}

/* Hover effects shared for all boxes */
.home-page-box:hover {
    filter: contrast(105%) brightness(108%);
    box-shadow: 0 0 0 7px var(--main-red), var(--main-shading-with-drop-shadow);
}

/* This adds the underline under the text when the user hovers over each button */
.home-page-strategy-box:hover .home-page-strategy-box-text,
.home-page-journal-box:hover .home-page-journal-box-text { 
    text-decoration: underline;  /* Adds underline */
    text-decoration: var(--pure-white) wavy underline; /* Makes underline wavy */
    text-underline-offset: 25%; /* lowers underline down 20% */
    text-decoration-thickness: 10%; /* Makes underline a certain thickness*/
}

/* Shared text container styles */
.home-page-box-text {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 35%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: var(--main-light-shading-no-top);
    border: none;
}

/* Journal-specific text styles */
.home-page-journal-box-text {
    background: rgba(230, 60, 54, 0.8); /* Red */
    color: var(--pure-white);
}

/* Strategy-specific text styles */
.home-page-strategy-box-text {
    background: rgba(24, 99, 169, 0.8); /* Blue */
    color: var(--pure-white);
}

.home-page-box-status{
    height: 55%;
    width: 80%;
    left: 10%;
    position: relative;
    font-family: 'Nunito', sans-serif; /* Match font family */
    font-style: normal;
    font-weight: 900;
    font-size: 24px; /* Adjust font size for readability */
    text-align: center; /* Center the text horizontally */
    color: var(--pure-white); /* White text color */
    z-index: 2;
    align-content: center ;
    text-shadow: var(--box-text-drop-shadow); /* Use the text drop shadow variable */
}

#currentStrategyName {
    text-decoration: var(--pure-white) wavy underline; /* Makes underline wavy */
    text-underline-offset: 25%; /* lowers underline down 20% */
    text-decoration-thickness: 10%; /* Makes underline a certain thickness*/
}

.journals-until-next-strat-counter {
    position:absolute; /* Makes position relative to I believe top-bar-left*/
    right: 6.5vh;
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Center vertically */
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    text-decoration: none;
    height: 3.5vh; /* Adjust size relative to viewport height */
    width: auto; /* Maintain aspect ratio */
    pointer-events: none; /* Make it non-interactive */
    user-select: none; /* Makes image not selectable*/
}

.journals-until-next-strat-text{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2vh;
    line-height: 2.3vh;
    color: var(--main-off-white);
    font-style: italic;
}

.journals-until-next-strat-numnber{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 6.2vh;
    color: var(--main-off-white);
    margin-left: 1vh;
}

.top-bar{
    overflow: hidden;
}

/* Cloud styling */
.cloudStrat {
    position: absolute; /* Position relative to the main-screen-container */
    right: -12vh;
    top: -11vh;
    height: auto; /* Maintain aspect ratio */
    z-index: 0; /* Default z-index for clouds */
    pointer-events: none; /* Make it non-interactive */
    user-select: none; /* Makes image not selectable*/
    width: 47vh;
    opacity: 45%;
    pointer-events: none; /* Make it non-interactive */
    user-select: none; /* Makes image not selectable*/
  }