/* Define variables */
:root {
	
    /* Color variables */
    --main-yellow-subdued: #E3B318;
    --main-yellow-bold: #FFBF10;
    --main-blue: #1863a9;
    --main-green: #318F30;
    --main-off-white: #F0EAD4;
    --main-red: #E63C36;
    --main-cyan: #2BB3C5;
    --muted-blue-1: #88D6F8;
    --muted-blue-2: #A3CDED;
    --very-muted-blue: #AFC3CA;
    --side-bar-off-white: #E5DEC6;
    --pure-white: #FFFFFF;
    --side-bar-bg-color: #E3B318;
    --main-green-subdued: #378636;
    --main-blue-subdued: #2F6496;
    --main-red-subdued: #D8423D;
    --main-cyan-subdued: #207F8B;
    --main-purple: #8D3CAA;
    --main-black: #1D1D1B;

    /* Shading variables */
    --main-light-shading: 
    inset 6px 6px 20px rgba(255, 255, 255, 0.15),
    inset 3.6px 3.6px 4px rgba(255, 255, 255, 0.5),
    inset -3.6px -3.6px 16px rgba(0, 0, 0, 0.24);

    --main-drop-shadow: 
    5px 5px 6px rgba(0, 0, 0, 0.25);

    --main-shading-with-drop-shadow: 
    var(--main-light-shading),
    var(--main-drop-shadow);		

    --main-light-shading-no-top: 
    inset 6px 0px 20px rgba(255, 255, 255, 0.15),
    inset 3.6px 0px 4px rgba(255, 255, 255, 0.5),
    inset -3.6px 0px 16px rgba(0, 0, 0, 0.24);

    --profile-name-text-shadow: 
    0.15vw 0.15vw 0.3vw rgba(0, 0, 0, 0.15), 
    -0.02vw -0.02vw 0.05vw rgba(255, 255, 255, 0.4), 
    -0.06vw -0.06vw 0 rgba(0, 0, 0, 0.1), 
    -0.05vw -0.05vw 0 rgba(0, 0, 0, 0.1),
    -0.05vw -0.05vw 0 rgba(0, 0, 0, 0.1);

    --main-light-shading-scaled: 
    inset 0.3125vw 0.3125vw 1.0417vw rgba(255, 255, 255, 0.15),
    inset 0.1875vw 0.1875vw 0.2083vw rgba(255, 255, 255, 0.5),
    inset -0.1875vw -0.1875vw 0.8333vw rgba(0, 0, 0, 0.24);

    --main-drop-shadow-scaled: 
    0.2604vw 0.2604vw 0.3125vw rgba(0, 0, 0, 0.25);

    --main-shading-with-drop-shadow-scaled: 
    var(--main-light-shading-scaled),
    var(--main-drop-shadow-scaled);

    --main-light-shading-pure-scaled: 
    inset 0.3125vw 0.3125vw 1.0417vw rgba(255, 255, 255, 0.15),
    inset 0.1875vw 0.1875vw 0.2083vw rgba(255, 255, 255, 0.5);

    --box-text-drop-shadow:
    2.31728px 2.31728px 5.7932px rgba(0, 0, 0, 0.25);

    /* Other Variables */
    --navigation-bar-width: 18vw; /* Changes width of navigation bar */

}